/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

h1,
.h1 {
  font-weight: bold;
  font-family: "Noto Serif", serif;
  font-size: 64px;
  line-height: 1.25;
}

h2,
.h2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.33;
}

h3,
.h3 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
}

h4,
.h4 {
  font-family: "Noto Serif", serif;
  font-size: 32px;
  line-height: 1.25;
}

h5,
.h5 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.33;
  text-transform: uppercase;
}

h6,
.h6 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
}

small,
.small {
  font-size: 6.4px;
  line-height: 1.33;
  text-transform: uppercase;
}

a {
  font-family: "IBM Plex Mono", monospace;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
}

/*
body {
  background-image: asset-url('image.jpeg');
}
*/
.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.page-section {
  padding: 40px 16px;
}

button[type=submit],
.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  display: inline-block;
  width: auto;
  padding: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
}

button[type=submit]:disabled,
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button[type=submit]:hover,
.btn:hover {
  background: transparent;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

#mini-cart {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
  background: #fff;
  padding: 0 16px;
  max-width: 500px;
  width: 100%;
  z-index: 2;
}

#mini-cart .mini-cart-contents .cart-totals,
#mini-cart .mini-cart-contents .currency-note {
  padding-left: 80px;
  text-align: left;
}

#mini-cart .mini-cart-contents .update-button {
  display: none;
}

#mini-cart .mini-cart-contents .subtotal-line {
  border-bottom: 0;
}

#no-click {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
}

html.mini-cart-open {
  height: 100vh;
  overflow: hidden;
}

html.mini-cart-open #mini-cart,
html.mini-cart-open #no-click {
  display: block;
}